---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import HeaderLink from '../components/HeaderLink.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex flex-col min-h-screen">
    <Header />
    <main class="flex flex-grow">
      <nav class="w-[8rem] mr-2">
        <ul class="text-lg">
          <li><HeaderLink href="/">Blog</HeaderLink></li>
          <li><HeaderLink href="/about">About</HeaderLink></li>
        </ul>
      </nav>
      <section class="prose">
        <ul class="list-none p-0">
          {
            posts.map((post, index) => (
              <li class="p-0">
                <a class="no-underline" href={`/${post.id}/`}>
                  <h4 class={index === 0 ? 'mt-0' : ''}>{post.data.title}</h4>
                </a>
                <div>
                  <FormattedDate date={post.data.pubDate} />
                </div>
                {post.data.heroImage && (
                  <img class="not-prose rounded-2xl my-0.5" height={360} src={post.data.heroImage} alt="" />
                )}
                <p class="not-prose my-0.5">{post.data.description}</p>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
