---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import HeaderLink from '../components/HeaderLink.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  tags } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="flex flex-col min-h-screen">
    <Header />
    <main class="flex flex-grow">
      <nav class="w-[8rem] mr-2">
        <ul class="text-lg">
          <li><HeaderLink href="/">Blog</HeaderLink></li>
          <li><HeaderLink href="/about">About</HeaderLink></li>
        </ul>
      </nav>
      <article class="prose prose-li:mt-0">
        <div>
          <h1 class="mb-1">{title}</h1>
          <div>
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
            {
              tags?.map((tag) => (
                <span>{tag} </span>
              ))
            }
          </div>
        </div>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
